.main {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: url('../../images/main.jpg');
  background-size: cover;
}

.main .title {
  position: absolute;
  top: 2rem;
  left: 2rem;
  text-shadow: 5px 5px 25px #000;
}

.main .title h1 {
  color: #fff;
}

.main .login-form {
  position: absolute;
  width: 360px;
  right: 5rem;
  top: 8rem;
  padding: 2rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 3px;
}

.main .login-form label {
  display: block;
  margin: 30px auto;
}

.main .login-form span {
  display: block;
  margin-bottom: 6px;
}

.main .login-form input {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
}

.main .login-form a {
  color: #fff;
  cursor: pointer;
}

.main .login-form h4 {
  margin-top: 1rem;
  font-weight: 300;
  line-height: 20px;
}

.main .login-form .btn {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  margin-right: 1rem;
  font-size: 1rem;
  letter-spacing: 1px;
  cursor: pointer;
}

@media only screen and (max-width: 567px) {
  .main .title {
    left: 4.5rem;
  }
  .main .login-form {
    right: 1rem;
    width: 340px;
  }
}
