.login-form {
  max-width: 360px;
  margin: 0 auto;
  padding: 1rem;
  padding-top: 80px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.login-form label {
  display: block;
  margin: 30px auto;
}

.login-form span {
  display: block;
  margin-bottom: 6px;
}

.login-form input {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
}
