.category {
  padding-top: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}

.all {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
}

.blackMovies {
  background: rgb(90, 90, 90);
}

.whiteMovies {
  background: rgb(240, 244, 248);
  background: rgb(240, 240, 240);
}

.blackColorCategory {
  color: rgb(90, 90, 90);
}

.whiteColorCategory {
  color: rgb(240, 244, 248);
}

.error {
  width: 100vw;
  display: flex;
  justify-content: center;
  background: rgb(221, 221, 221);
  color: red;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  padding: 5rem 0rem 1rem;
}

.categoryColor {
  color: rgb(240, 244, 248);
}

@media screen and (max-width: 786px) {
  .all .one-movie {
    width: 150px;
    margin: 0.5rem;
  }
}

@media screen and (max-width: 640px) {
  .category {
    padding-top: 8rem;
  }

  .all {
    width: 100vw;
  }

  .all .one-movie {
    margin: 0.5rem;
  }
}
