.category {
  padding-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.more {
  padding-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.more button {
  border: none;
  outline: none;
  background: tomato;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 6px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.more button:hover {
  background: transparent;
  color: tomato;
  border: 2px solid tomato;
  transition: all 0.3s ease;
}

.all {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1280px;
  /*height: 550px;
  overflow: auto;*/
  margin: 0 auto;
  border-radius: 3px;
  padding-bottom: 3rem;
}

.blackMovies {
  background: rgb(90, 90, 90);
}

.whiteMovies {
  background: whitesmoke;
}

.blackColorCategory {
  color: rgb(90, 90, 90);
}

.whiteColorCategory {
  color: #fff;
}

.error {
  width: 100vw;
  display: flex;
  justify-content: center;
  background: rgb(221, 221, 221);
  color: red;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  padding: 5rem 0rem 1rem;
}

.categoryColor {
  color: #fff;
}

@media only screen and (max-width: 800px) {
  .all .one-movie {
    width: 150px;
    margin: 0.5rem;
  }
}

@media only screen and (max-width: 576px) {
  .category {
    padding-top: 3rem;
  }

  .all {
    width: 100vw;
  }

  .all .one-movie {
    margin: 0.5rem;
    margin-left: 0;
    width: 100px;
  }
}
