.cat,
.err {
  padding-top: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.err {
  letter-spacing: 1px;
}

.whiteColorSearch {
  color: rgb(1, 180, 228);
}

.blackColorSearch {
  color: rgb(13, 37, 63);
}

@media only screen and (max-width: 640px) {
  .cat {
    padding-top: 5.5rem;
  }
}
