.cat,
.err {
  padding-top: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.err {
  letter-spacing: 1px;
}

.whiteColorCategory {
  color: rgb(255, 255, 255);
}

.blackColorCategory {
  color: rgb(120, 120, 120);
}

@media only screen and (max-width: 640px) {
  .cat {
    padding-top: 5.5rem;
  }
}
