.main {
  width: 100vw;
  height: 100vh;
  background: url('../../images/back.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main .title h1 {
  color: #fff;
  margin-bottom: 2rem;
  text-shadow: 5px 5px 5px #000;
}

.main .signup-form {
  min-width: 360px;
  max-width: 360px;
  padding: 2rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  border-radius: 3px;
}

.main .signup-form label {
  display: block;
  margin: 30px auto;
}

.main .signup-form span {
  display: block;
  margin-bottom: 6px;
}

.main .signup-form input {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
  border: none;
}

.main .signup-form input:focus {
  outline: none;
}

.main .signup-form h4 {
  margin-top: 1rem;
  font-weight: 300;
  line-height: 20px;
}

.main .signup-form .btn {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  margin-right: 1rem;
  font-size: 1rem;
  letter-spacing: 1px;
  cursor: pointer;
}

@media only screen and (max-width: 576px) {
  .main .title {
    left: 4.5rem;
  }
  .main .signup-form {
    right: 1rem;
    width: 340px;
  }
}
